.record-page-container {
    width: 90%;
    margin-left: 7%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.type-topic-container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sport-topic {
    width: 100%;
    font-size: 3vw;
    margin-top: 3%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Aptos';
    color: #474ea0;
    text-shadow: 1px 1px white, -1px -1px #000;
}

.sport-info {
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
    box-sizing: border-box;
    gap: 5%;
}

.type-selector {
    width: 25vw;
    height: 4vw;
    padding: 12px 20px;
    margin-top: 5%;
    box-sizing: border-box;
    border-radius: 1vw;
    background-color: #e4e4f4;
  }

.recording-container {
    flex: 1;
    margin: 0 auto;
    margin-left: 5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-items: center;
}

.medal {
    font-family: 'TH SarabunPSK';
    text-align: center;
    font-size: 2.7vw;
    color: #848484;   
    font-weight: 600;
} 

.header-container {
    /* flex: 1; */
    margin-left: 38%;
    width: 75%;
    display: grid;
    /* gap: 0.5%; */
    grid-template-columns: auto auto auto auto auto; 
    /* border: solid 1px red; */
}

.header-item {
    text-align: center;
}

.big-input-container {
    width: 100%;
    max-height: 17vw;
    min-height: 17vw;
    overflow-y: scroll;
    margin-bottom: 1%;
    /* border: solid 1px black */
}

.input-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 10%;
    width: 90%;
    height: auto;
    /* gap: 11%; */
}

.border-container {
    width: 80%;
    display: flex;
    border-style: solid;
    border-color: hsl(0, 0%, 73%);
    border-width: 0.001em;;
    border-radius: 1vw;
    margin: 0 auto;
}

.buttons-container {
    display: flex;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    gap: 5%;
    justify-content: center; 
    align-items: center;
}

.record-button {
    font-size: 2vw;
    font-weight: 549;
    color: white;
    height: 4vw;
    width: 20vw;
    border: none;
    border-radius:17px;
    background-color: #363b7a;
    font-family: 'TH SarabunPSK';
}

.record-button:hover {
    background-color: #4d5499;
    cursor: pointer;
}

.add-country-button {
    font-size: 2vw;
    font-weight: 549;
    font-family: 'TH SarabunPSK';
    color: white;
    height: 4vw;
    width: 20vw;
    border-radius:17px;
    border: none;
    background-color: #a6a6a6;
}

.add-country-button:hover {
    color: white;
    background-color: #7678c7;
    cursor: pointer;
}

.date {
    font-size: 1.25vw;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #4d5499;
}

.participants {
    font-size: 1.25vw;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    color: #4d5499;
}

.copetition-date, .countries-num {
    color: #5a5855;
}

