.medal-num-input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid grey;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    width: 15%;
    color: rgb(185, 185, 185);
    text-align: center;
}

.medal-num-input::placeholder {
    font-size: 1.4vw;
    color: rgb(185, 185, 185);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.medal-num-input:focus::placeholder {
    color: transparent;
}

.type-selector {
    width: 20vw;
    height: auto;
    padding: 12px 20px;
    border-radius:10px;
    border: none;
    background-color: #cdcefa;
}

.input-container-item {
    height: auto;
    min-width: 0;
}