.input-container {
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 6vw;
    /* padding: 1vw; */
}

.input-container-item{
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 30px;
    text-align: center;
}

.country-selector {
    width: 20vw;
    padding: 12px 20px;
    /* box-sizing: border-box; */
    border-radius:10px;
    background-color: #f3f3f3;
}

.medal-num-input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid grey;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    width: 2vw;
    color: rgb(185, 185, 185);
    /* background-color: #f3f3f3; */
}
.medal-num-input::placeholder {
    font-size: 1.25vw;
    color: rgb(185, 185, 185);
    text-align: center;
    justify-content: center;
    align-items: center;

}

.type-selector {
    width: 20vw;
    padding: 12px 20px;
    /* box-sizing: border-box; */
    border-radius:10px;
    border: none;
    background-color: #cdcefa;
}