.medal-value {
    color: #c9c7c6;
    max-height: 6vh;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'TH SarabunPSK';
    margin-bottom: 7%;
    width: 15%;
  }
  
  .bold {
    font-weight: bold; 
    color: #5a5855;
  }

.silver-medal-value {
    margin-left: 34%;
}

.bronze-medal-value {
    margin-left: 81%;
}

.recorded-country {
    box-sizing: border-box;
    height: 3vw;
    font-size: 2vw;
    font-family: 'TH SarabunPSK';
    justify-content: space-between;
    margin-bottom: 7%;
    font-weight: bold;
    color: #5a5855;
    width: 100%;
    width:19vw;
}
