
.medal-num-input {
    appearance: none;
    border: none;
    outline: none;
    border-bottom: .2em solid grey;
    border-radius: .2em .2em 0 0;
    padding: .4em;
    width: 15%;
    max-height: 6vh;
    color: rgb(185, 185, 185);
    text-align: center;
    margin-left: 40%;
}

.medal-num-input::placeholder {
    font-size: 1.4vw;
    color: rgb(185, 185, 185);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.medal-num-input:focus::placeholder {
    color: transparent;
}

.type-selector {
    width: 20vw;
    height: auto;
    padding: 12px 20px;
    border-radius:10px;
    border: none;
    background-color: #cdcefa;
}


.delete-button {
    font-family: 'Aptos';
    font-size: 1.4vw;
    cursor: pointer; 
    background-color: transparent; 
    border: none;
    /* padding-left: 60%;
    margin-left: 105%; */
    /* border: solid 1px red; */
}

.delete-icon {
    width: 1.5vw;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.delete-button:hover .delete-icon {
    opacity: 1; 
  }




