@media screen and (min-width: 720px) {
    .status-icon {
        position: sticky;
        bottom: 0;
        display: flex;
        width: 95.5%;
        height: 8vh;
        float: right;
        background-color: #f3f3f3;
        border-top: 1.5px solid #d6d6d6;
        box-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.4);
        justify-content: center;
    }
    
    .icon {
        display: flex;
        margin-left: 2vw;
        margin-right: 2vw;
        align-items: center;
    }
    
    .ceremonies-icon {
        width: 2.5vw;
        height: 4.25vh;
    }
    
    .competition-icon {
        width: 2.5vw;
        height: 4.25vh;
    }
    
    .medal-status-icon {
        width: 2.20vw;
        height: 5.25vh;
    }
    
    .recorded-status-icon {
        width: 2.20vw;
        height: 5.25vh;
    }
    
    .icon p {
        margin-left: 1vw;
    }
    
}